<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blogs.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src = " <%=    blogs.image %> " ><br>
        </div>

        <div class="content">
            <span> <%=  blogs.created.toDateString() %> </span>
        </div>

        <div class="description">
            <p> <%-  blogs.body %> </p> 
        </div>
        <a class="ui orange basic button" href="/blogs/<%= blogs._id%>/edit">Edit</a>
        
        <form id="delete" action="/blogs/<%= blogs._id %>?_method=DELETE" method="POST">
               
            <button  class="ui red basic button"> Delete</button>
        
        </form>

    </div>
</div>

<%- include('partials/footer') %>

